accelerate
codetiming
datasets
# flash-attn>=2.4.3
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]

tensordict==0.8.3
# torch==2.5.1 
transformers>=4.52.3,<5.0.0  # relax upper bound for Qwen3-VL (upstream #663); torch 2.6.0 stack
# transformers==4.51.0
# vllm>=0.7.3 
# vllm==0.7.3 # 对应 torch==2.5.1 
# xformers==0.0.28.post3 # 对应 torch==2.5.1 
torch==2.6.0 
torchaudio==2.6.0  # 对应 torch==2.6.0 
torchvision==0.21.0  # 对应 torch==2.6.0 
torchdata
vllm==0.8.2  # 对应 torch==2.6.0
wandb
